@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
}

h4 {
  font-size: 2em;
  font-weight: 700;
}
.section-center {
  padding: 0 3em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}
.menu-item {
  /* flex-grow: 1;
  width: 30%; */
}
